:root {
    --primary-color: #2A6EA1; /* celestial blue */
    --secondary-color: #313638; /* onxy */
    --accent1-color: #6c2b00; /* brown */
    --accent2-color: #FFFFFF; /* white */
    --heading-font: "montserrat", sans-serif;
    --body-font: "roboto", sans-serif;
}

header {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    max-width: 1000px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
    background-color: #ebeff1;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: #ebeff1;
}

main {
    padding-top: 1rem;
}

.logo {
    border: 2px solid var(--primary-color);
    border-radius: 0.2rem;
}

.logo img {
    width: 100px;
    height: auto;
    max-width: 100%;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


nav a {
    text-decoration: none;
    color: var(--secondary-color);

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

article {
    position: absolute;
    top: 340px;
    background-color: rgba(49, 54, 56, 0.7);
    color: var(--accent2-color);
    border: 1px solid var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid #000;
    margin: 10px;
}

.history {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: left;
    gap: 1rem;
}

.history-layout img {
    width: 300px;
    height: auto;
    border: 1px solid var(--secondary-color);
}

.adventure {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto
}

.adventure-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
}

.adventure-layout figure {
    flex: 1 1 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.adventure-layout img {
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}

.adventure-layout figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--secondary-color);
    text-align: center;
}

.contact-head {
    text-align: left;
    padding-left: 6rem;
    margin-top: 6rem;
    font-weight: bold;
    max-width: 840px;
    height: auto;
}

.contact-title {
    padding: 1rem;
    margin-top: 4rem;
}

.contacts p {
    line-height: 1.8;
}

h3 {
    text-align: center;
}

.map {
    padding: 1rem;
}

iframe {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0.5rem;
}

.form-title {
    text-align: center;
    padding: 1.2rem;
    margin-top: 1rem;
}

form {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

fieldset {
    display: grid;
    grid-gap: 0.75rem;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
}

legend {
    padding: 0.5rem;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

label, input, button, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

label {
    padding-right: 1rem;
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

textarea {
    width: 300px;
    height: 100px ;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

input[type="checkbox"] {
    width: 21px;
    height: 21px;
    vertical-align: bottom;
}

button {
    margin: 1rem auto 0;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-top: 1px solid var(--secondary-color);

}

.socialmedia img {
    width: 24px;
    height: 24px;
}
