:root {
   --primary-color: darkblue;
   --secondary-color: white;
   --shadow-color: grey;
   --border-color: black;
   --main-padding: 0;
   --text-align: center; 
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 0;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: var(--main-padding);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: var(--text-align);
}